body {
    background: rgb(255, 81, 110);
}


.hr {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}
main {
    display: block;
    text-align: center;
}
.navbar {
    display: block;
    text-align: center;
    background-color: rgb(255, 63, 95)
}
.h1 {
    color: lightblue;
}
.h1_2 {
    color: rgb(252, 169, 220);
}
#love_generation {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid 10px #f125a7;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: rgb(44, 13, 13);
}
@import url('https://fonts.googleapis.com/css2?family=Padyakke+Expanded+One&display=swap');
#round {
    border-radius: 25px;
}